<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Google Scholar</title>
    <style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
        th {
  background-color: #4CAF50;
  color: white;
}
</style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="container" style="margin-top: 50px">
<h1> Google Scholar Scraper</h1>
    <form action="http://127.0.0.1:5000/scrap" method="POST">
          <div class="form-group">
            <label for="url"><strong>URL</strong></label>
            <input class="form-control form-control-lg" type="text" name="url" id="url" placeholder="Enter ...">
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% for table in table_data %}
{#    <h2>{{titles[loop.index]}}</h2>#}
    {{ table|safe }}
  {% endfor %}
{#{{ table_data }}#}
</body>
</html>